body {
    background-color: var(--sable);
    font-family: var(--font-opensans);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {

    font-family: var(--font-quicksand);
    margin: 0;
}




.programme__description {

    font-size: 1rem;

    padding: 20px;
}

.programme__title {

    font-size: 1rem;
}

.programme__item {
    font-size: 1rem;
    width: 333px;
    height: 408px;
    flex-shrink: 0;

}

.button__programme {
 
}