/* Collection 1 */
:root {
    /* Mode 1 */
    /* color */
    --bleu-fonce-: #243a47;
    --bordeaux-clair: #a15550;
    --marron-clair: #c38655;
    --sable: #e7e2d7;
    --blanc: #FFFFFF;
    --noir: #000000;


    /* taille du texte */
    --txt-XS: 0.813rem;
    --txt-S: 0.938rem;
    --txt-M: 1rem;
    --txt-L: 1.25rem;
    --txt-XL: 2rem;
    --txt-XXL: 2.5rem;

    /* Typo*/
    --font-quicksand: "Quicksand";
    --font-opensans: "Open Sans";

}