.footer{
    background-color: var(--marron-clair);
    width: 100%;
    height: 100%;
}
.reseaux__logo{

    margin: 2.5%;
    justify-content:center;

}

.footer__title{
    color: var(--blanc);
    font-size: 2rem;
    font-family:var(--font-quicksand);
    text-align: left;
    margin-top: 5%;   
    
}
.footer__link{
color: var(--blanc);
font-size: 1rem;
font-family:var(--font-open-sans);
display: block;
margin: 20px 0;
text-decoration: none;
}
.footer__logo{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 300px;
}