.infos-pratiques__title{
    font-size: 2rem;
    color: var(--blanc);
    font-family:var(--font-quicksand);
    background-color:var(--bleu-fonce);
    padding: 20px 0 20px 0;

}

.infos-pratiques__soustitre{
    
    font-size: 1rem;
}

.infos-pratiques__info{
    font-size: 1rem;
}

.infos-pratiques__image{
    width: 334px;
    height: 184px;
    flex-shrink: 0;
}

.button__info1{
    font-size: 0.938rem;
    color: var(--blanc);
    background-color:var(--marron-clair);
    border-radius: 30px;
    display: flex;
    width: 130px;
    height: 50px;
    padding: 20px 25px;
    align-items: center;
    gap: 10px;

}



.Nos-partenaires__title{
    font-size: 2rem;
    color: var(--blanc);
    font-family:var(--font-quicksand);
    background-color:var(--bleu-fonce);
    padding: 20px 0 20px 0;

}

.Nos-partenaires__item{
    color: #000;

    /* body 1 */
    font-family:var(--fontopensans);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    
    width: 279px;
}

.Nos-partenaires__logo1{
    width: 200px;
    height: 64px;
    flex-shrink: 0;
}

.Nos-partenaires__logo2{width: 107px;
    height: 107px;
    flex-shrink: 0;}

 .Nos-partenaires__logo3{width: 200px;
    height: 200px;
    flex-shrink: 0;}


 .Nos-partenaires__logo4{width: 236px;
    height: 135px;
    flex-shrink: 0;}

  .Nos-partenaires__logo5{width: 175px;
    height: 189px;
    flex-shrink: 0;}

  .Nos-partenaires__logo6{width: 99px;
    height: 99px;
    flex-shrink: 0;}


    /*vrai page début : */

.infos-pratiques__image{
    width: 334px;
    height: 184px;
    display: flex;
    margin: 0 27px;
}

.infos-pratiques__image1{
    width: 334px;
    height: 184px;
    display: flex;
    margin: 0 27px;
}
.image__parc{
    
        width: 350px;
        height: 346px;
        display: flex;
        margin: 0 27px;
    
}

.image-info__chat{
    width: 328px;
    height: 324px;
    display: flex;
    margin: 0 27px;

}
.infos-pratiques__info{
font-family: var(--fontopensans);
font-size: 1rem;
display: flex;
justify-content: center;
}


.button__acheter{
    font-size: 0.938rem;
    color: var(--blanc);
    background-color:var(--marron-clair);
    border-radius: 30px;
    display: flex;
    width: 130px;
    height: 50px;
    padding: 20px 25px;
    align-items: center;
    gap: 10px;
    justify-content: center;


}
.billetterie__individuel{
    display: flex;
    justify-content: center;

}

.billetterie__pass{
    display: flex;
    justify-content: center;

}

.info__title{
    color: var(--blanc);
    font-size: 2rem;
    font-family:var(--font-quicksand);
    display: flex;
justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color:var(--bleu-fonce);
    padding: 20px 0 20px 0;
}


.info p{
    display: flex;
    justify-content: center;
    font-family:var(--font-opensans);
    font-size: 1rem;


}

.titre-info{
    color: var(--blanc);
    font-size: 2rem;
    font-family:var(--font-quicksand);
    display: flex;
justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color:var(--bleu-fonce);
    padding: 20px 0 20px 0;
}



.info p{
    display: flex;
    justify-content: center;
    font-family:var(--font-opensans);
    font-size: 1rem;


}

.li{

    font-family:var(--font-opensans);
    font-size: 1rem;
    justify-content: center;
    display: flex;
    margin: 0 100px;
}


.image__hotel{
    width: 342px;
    height: 228px;
    display: flex;
    margin: 0 27px;


}

.titre__faq{
    color: var(--blanc);
    font-size: 2rem;
    font-family:var(--font-quicksand);
    display: flex;
justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color:var(--bleu-fonce);
    padding: 20px 0 20px 0;
}



.texte__info{
    
    font-family:var(--font-opensans);
    font-size: 1rem;
    justify-content: center;
    display: flex;
    margin: 0 20px;
}

.Billetterie__title{
    background-color:var(--bleu-fonce);
    padding: 20px 0 20px 0;
}