.programme__description {

    font-size: 1rem;

    padding: 20px;
}

.programme__title {

    font-size: 1rem;
}

.programme__item {
    font-size: 1rem;
    width: 3px;
    height: 4px;
    flex-shrink: 0;

}

.button__programme {
    display: flex;
    width: 128px;
    height: 50px;
    padding: 15px 25px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.activités__image {
    width: 319px;
    height: 331px;
    flex-shrink: 0;


}

.activités__description {
    width: 358px;
    height: 207px;
    flex-shrink: 0;

}

.activités__association-nom {
    color: #000;

    /* body 2 */
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.button__inscrire {
    color: var(--marron-clair);
    display: flex;
    width: 206px;
    height: 50px;
    padding: 15px 25px;
    align-items: center;
    gap: 10px;
}